body {
  background: ivory;
}
.container {
  max-width: 400px;
}
input[type="text"],
input[type="text"]:focus {
  color: ivory;
  border: none;
  background: teal;
  max-width: 400px;
}
.todos li {
  background: teal;
  font-family: 'Caveat Brush', cursive;
}
.delete {
  cursor: pointer;
}
.filtered {
  display: none !important;
}
nav {
  background-color: indigo;

}
.navbar-brand {
  font-family: 'Fredericka the Great', cursive;
  color: ivory !important
}

img {
  border-radius: 50%;
}
.fuente {
  color: indigo;
  font-family: 'Fredericka the Great', cursive;

}
::placeholder {
  color: ivory !important;
  opacity: 0.5 !important;
}